*{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
   }
   
:root {
    --maroon: #51010F;
   
}

/* navbar */
.nav1 {
    background-color: var(--maroon)!important;
    padding: 3%;
  
}

.navName {
    color: white !important;
    font-size: 40px;
}


.btn {
    background-color: var(--maroon);
    border-color: white;
    color: white;
}

.btn:hover {
    background-color: white;
    color: var(--maroon);
}


.navbar {
    background-color: var(--maroon);
 
}
.navbrand {
    color: white!important;
}

.navbrand h1:hover {
    color: white;
    cursor: pointer;
}

#link1, #link2, #link3 {
    color: white;
}

.searchBorder {
    opacity: 0.5;
    border-color:white;
}


/* Carousel */
.container {
    padding: 25px;
}

.carousel-control-next, .carousel-control-prev {
    top: 150px;
}

/* API images and captions */

p{
    color: white;
}

.card-deck {
    padding: 75px;
}

.card:hover {
        transform: scale(1.05);
}

.card-title {
    color: var(--maroon);
}

.card-text {
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


#imgTitle {
    font-style: italic;
}

/* museum page */

.headerName {
    border-bottom: 8px solid var(--maroon);
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    padding-top:3%;
   
}

.more {
    background-color: white;
    color: var(--maroon);
    border: var(--maroon);
    border-radius: 10%;
    display: flex;
    justify-content: right;
}